<%- include('./head') %>
<h1><%= title %>: <%= book.title %></h1>

<p>Do you really want to delete this Book?</p>
<form method="POST">
  <div class="form-group">
    <input type="hidden" id="bookid" name="bookid" class="form-control" value=<%= book._id%>>
  </div>
  <button class="btn btn-primary" type="submit">Delete</button>
</form>


<%- include('./foot') %>